@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap");
.navbar {
  font-family: "Noto Sans TC", sans-serif;
  background-color: rgb(213, 231, 231);
}
.nav-link {
  margin-right: 40px;
}
.navbar-brand {
  letter-spacing: 2.5px;
}
.nav-link:hover {
  background-color: blue;
  transition-delay: 0.5;
}
